@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme (default) */
:root {
  --color-bg: #f7f7f7;
  --color-text: #331e38;
  --color-primary: #17bebb;
  --color-secondary: #706993;
  --color-tertiary: #331e38;
}

/* Dark Theme */
html.dark {
  --color-bg: #191923;
  --color-text: #99907d;
  --color-primary: #7d31af;
  --color-secondary: #b5ba72;
  --color-tertiary: #99907d;
}
